
@font-face {
	font-family: "metropolis";
	src: url("./fonts/metropolis-regular.otf") format("truetype");
}

@font-face {
	font-family: "metropolis-light";
	src: url("./fonts/metropolis-light.otf") format("truetype");

}

*{
	box-sizing: border-box;
}

html, body{
	padding: 0;
	position: relative;
	width: 100%;
	/*color: black;*/
	font-family: metropolis;
	background-color: white;
}

.applis_cont{
	margin-top: 40px;
}

.filters{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
    z-index: 3;
}

ul.list_applis{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
}

ul.list_applis li.applis_item{
	position: relative;
	height: 60px;
	flex-basis: 31%;
	flex-grow: 0;
	list-style: none;
	margin: 5px;
}

li.applis_item .main_link{
	position: absolute;
	border: solid 2px silver;
	border-radius: 5px;
	padding: 5px 35px 5px 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	align-items: center;
	justify-content: flex-start;
	--box-shadow-color: #ddd;
}

li.applis_item:hover > .main_link{
	text-decoration: none;
	box-shadow: 0px 0px 10px 4px var(--box-shadow-color);
}

.fill_cont:hover{
	text-decoration: none;
}

li.applis_item img{
	max-height: 50px;
	max-width: 100px;
	margin-right: 10px;
    border-radius: 5px;
}


.fill_cont{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	border-radius:  0px 10px 10px 0px;
}

.app_up .fill_cont{
	right: 0;
	width: auto;
}

.right_img{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 15px;
	margin: 0;
	padding: 0;
	border-radius:  10px;
}

.filler{
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100%;
	width: 0px;
	transition: width 0.2s;
	padding: 0px;
	font-size: 0.9em;
	color: white;
	overflow: hidden;
	border-radius:  0px 5px 5px 0px;
}

.filler i{
	margin-right: 8px;
}

.filler span.text{
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s;
}

li.applis_item:not(.app_up):not(.app_no_status) .fill_cont:hover > .filler{
	width: 66%;
	padding: 5px;
}

li.applis_item:not(.app_up):not(.app_no_status) .fill_cont:hover > .right_img{
	border-radius:  10px 0px 0px 10px;
}

li.applis_item:not(.app_up):not(.app_no_status) .fill_cont:hover .text{
	opacity: 1;
}

/*************** UP ***************/

li.applis_item.app_up .main_link{
	border-color: rgba(26, 214, 129, 1);
	--box-shadow-color: rgba(26, 214, 129, 0.2);
}

.app_up .filler, .app_up .right_img{
	background-color: rgba(26, 214, 129, 1);
}

li.applis_item.app_maintenance .main_link{
	border-color: rgba(244, 176, 65, 1);
	--box-shadow-color: rgba(244, 176, 65, 0.2);
}

.app_maintenance .filler, .app_maintenance .right_img{
	background-color: rgba(244, 176, 65, 1);
}
/*************** App DOWN ***************/
li.applis_item.app_down .main_link{
	border-color: rgba(233, 58, 35, 1);
	--box-shadow-color: rgba(233, 58, 35, 0.2);
}

.app_down .filler, .app_down .right_img{
	background-color: rgba(233, 58, 35, 1);
}

/*************** UNREACHABLE ***************/

li.applis_item.app_unreachable .main_link{
	border-color: rgba(227, 189, 139, 1);
	--box-shadow-color: rgba(227, 189, 139, 0.2);
}

.app_unreachable .filler, .app_unreachable .right_img{
	background-color: rgba(227, 189, 139, 1);
}

/*************** NO STATUS ***************/

li.applis_item.app_no_status .main_link{
	border-color: rgba(0, 185, 242, 1);
	--box-shadow-color: rgba(0, 185, 242, 0.2);
}

.app_no_status .filler, .app_no_status .right_img{
	background-color: rgba(0, 185, 242, 1);
}